@import "layout";

.dynamic-form {
  // border: 5px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0% 10% 5% 10%; /* == !margin-top affects tabPane-tabBody layout! == */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}






