


<input
  type="text"
  id="user-input"
  (onChange)="onSearchInput()"
  placeholder="Type a name to see their quote!"
  [formControl]="name"
  value=''>
  <p *ngIf="">
    Current search: {{ name.value }}
  </p>

<div *ngFor="let character of charactersList" class="characters-list">
  <div class="character">
    <div class="character-img">
      <img src="{{character.img}}">
    </div>
    <div class="character-name">
      <h3>{{ character.firstName }} </h3>
      <h3>{{ character.lastName }}</h3>
    </div>
    <div *ngIf="showQuote">
      <h3 class="character-quote">"{{ character.quote }}"</h3>
    </div>
  </div>
</div>

<ng-template *ngIf="noMatch">
  <h2>SORRY NO MATCH !</h2>
</ng-template>
