// angular material default theme
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: rgb(123, 231, 231);
}

h3 {
  font-size: 1rem;
  color: rgb(110, 110, 110);
  font-family: Questrial, Arial, sans-serif;
}

p {
  font-size: 1.5rem;
  color: rgba(66, 66, 66);
  font-family: Questrial, Arial, sans-serif;
}

input {
  width: 60%;
  padding: 2%;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);

}

.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader {
  text-align:center;
  padding: 5%;
  color: white;
  font-family: Nunito, Arial, sans-serif;
  background-color: rgb(209, 41, 69);
  border-radius: 5px;
}

.element-header {
  padding: 2%;
  color: white;
  font-family: Nunito, Arial, sans-serif;
  background-color: pink;
}

button {
  padding: 2%;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(192, 198, 255);
}
